/*Universal Selector*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav-bar*/
img[alt = 'logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
}

/*Main*/
h2 :is(span) {
    margin-top: 50px;
    display: block;
    font-size: larger;
}

h2 :is(p) {
    font-size: large;
    font-weight: 500;
    margin-top: 30px;
}

.brandName {
    color:color-mix(in hwb increasing hue, #ffcb77 50%, #ffa400 50%) ;
    font-style: italic;
}

::-webkit-scrollbar {
    display: none;
}

/*Display grid*/
:is(body) {
    display: grid;
}

/*Body*/
body {
    text-align: center;
    grid-template-rows: auto max-content auto;
    background-color: black;
    color: white;
    display: block;
}

/* About */
.paragraph {
    font-size: medium;
    font-weight: 600;
}

#welcome {
    font-size: large;
}

#to {
    font-size: large;
}

#intro {
    color: #ffa400;
}
.highlight-text {
    color: #ffa400;
    font-size: medium;
}

.text-change {
    font-size: medium;
    text-align: center;
}

/*Footer*/
.lead {
    color: black;
}
