/*Universal Selector*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav-bar*/
img[alt = 'logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
}

/*Main*/
h2 :is(span) {
    margin-top: 50px;
    display: block;
    font-size: larger;
}

h2 :is(p) {
    font-size: large;
    font-weight: 500;
    margin-top: 30px;
}


/*Landing page*/
.brandName {
    color:color-mix(in hwb increasing hue, #ffcb77 50%, #ffa400 50%) ;
    font-style: italic;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card-img-top {
    height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain the image aspect ratio and cover the entire container */
}

.card-footer {
    background-color: #ffcb77;
    color: #ffffff;
}

.card-footer:hover {
    background-color: #FFA400;
  }

  .card-footer:hover span {
    color: #fff; 
  }

/*animation for brand name*/
@keyframes dropAndPop {
    0% {
        transform: translateY(-50px) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translateY(0) scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.brandName {
    animation: dropAndPop 1s ease-out  ; /* Adjust the duration and timing function as needed */
}


.highlighted-text {
    color: #FFA400;
    border-radius: 7px;
    font-size: 40px;
    font-weight: 400;
}
::-webkit-scrollbar {
    display: none;
}

/*Display grid*/
:is(body) {
    display: grid;
}

/*Body*/
body {
    text-align: center;
    grid-template-rows: auto max-content auto;
    background-color: black;
    color: white;
    display: block;
}

/* About */
.paragraph {
    font-size: medium;
    font-weight: 600;
}

#welcome {
    font-size: large;
}

#to {
    font-size: large;
}

#intro {
    color: #ffa400;
}
.highlight-text {
    color: #ffa400;
    font-size: medium;
}

.text-change {
    font-size: medium;
    text-align: center;
}

/*Footer*/
.lead {
    color: black;
}
