/*Universal Selector*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav-bar*/
img[alt = 'logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
}

/*Main*/
h2 :is(span) {
    margin-top: 50px;
    display: block;
    font-size: larger;
}

h2 :is(p) {
    font-size: large;
    font-weight: 500;
    margin-top: 30px;
}


/*Landing page*/
.brandName {
    color:color-mix(in hwb increasing hue, #ffcb77 50%, #ffa400 50%) ;
    font-style: italic;
}

#searchProducts {
    width: 80%;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    width: 465px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

#btn {
    margin-bottom: 10px;
    width: 50%;
    margin-left: 105px;
}

#mangaPic {
    height: 70%;
    width: 50%;
    margin-left: 110px;
}

#product-Img {
    height: 70%;
    width: 50%;
    margin-left: 110px;
}

#manga {
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

#names {
    color: #FFA400;
}

.card-img-top {
    height: 200px; 
    width:100%;
    object-fit: cover; 
}

.card-footer {
    background-color: blue;
    color: #ffffff;
}

.card-footer:hover {
    background-color: darkblue;
  }

  .card-footer:hover span {
    color: #fff; 
  }

/*animation for brand name*/
@keyframes dropAndPop {
    0% {
        transform: translateY(-50px) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translateY(0) scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.brandName {
    animation: dropAndPop 1s ease-out  ; /* Adjust the duration and timing function as needed */
}

.highlighted-text {
    color: #FFA400;
    border-radius: 7px;
    font-size: 40px;
    font-weight: 400;
}
::-webkit-scrollbar {
    display: none;
}

/*Display grid*/
:is(body) {
    display: grid;
}

/*Body*/
body {
    text-align: center;
    grid-template-rows: auto max-content auto;
    background-color: black;
    color: white;
    display: block;
}

/* About */
.paragraph {
    font-size: medium;
    font-weight: 600;
}

#welcome {
    font-size: large;
}

#to {
    font-size: large;
}

#intro {
    color: #ffa400;
}
.highlight-text {
    color: #ffa400;
    font-size: medium;
}

.highlight-title {
    color: #FFA400;
}


.text-change {
    font-size: medium;
    text-align: center;
}


/*Products*/ 


/*Footer*/
.lead {
    color: black;
}


#productWrapper {
    display: flex;
    flex-wrap: wrap;
}

/*Checkout*/
#mangaTable .card {
    min-height: 400px; /
}

